.footer{
    grid-column: 1 / -1;
    min-height: 100px;
    background-color: rgb(3 7 18);
border-top: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1.5fr repeat(10, minmax(120px, 1fr)) 1.5fr;
}

.footerContainer{
    grid-column: 2 / -2;
    height: 100%;
    padding: 20px 0 10px;


    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.socialNetworks{
    display: flex;
    gap: 15px;

}

.socialNetworksItem{
    height: 35px;
    width: 35px;
    background-color: rgb(3 7 18);
    border-radius: 50%;
}

.utilityLinks{
    display: flex;
    gap: 30px;
}

.links{
    font-size: 14px;
}


.rigthText{
    font-size: 13px;
    margin: 0;
}

.gridLine {
    height: 0.8px;
    grid-column: 1/-1;
    background-color: rgb(138, 138, 138);
}

@media (max-width: 1200px) {
    .footer{
        grid-template-columns: repeat(12, 1fr);
    }
}

@media (max-width: 600px) {
    .utilityLinks{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}