.listContainer {
    grid-column: 7 / -1;
    height: 5000px;

    margin-top: 4px;

}

@media (max-width: 992px){
    .listContainer{
        grid-column: 1 / -1;
        margin-top: 0;
    }
}

@media (max-width: 768px){
    .listContainer{
        margin-top: 25px;
    }
}